node_modules
#videos
.idea
chapter-6/scripts/.terraform.lock.hcl
chapter-6/scripts/.terraform
chapter-6/scripts/terraform.tfstate
chapter-6/scripts/.terraform.tfstate.lock.info
chapter-6/scripts/terraform.tfstate.backup
terraform.exe
working
chapter-8/coverage